*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
 }

 html,body{
     min-width: 700px;
 }

body{
    --azul: #83c3ee;
    position: relative;
    height: 100vh;
}
body::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 5px;    /* Tamaño del scroll en horizontal */
    /* display: none;  Ocultar scroll */
}

body::-webkit-scrollbar-thumb{
    
    background: #929292 ;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
    
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
  
}

header{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    min-width: 300px;
    background-color: #ffffff;
    z-index: 300;
    padding-bottom: 5px;
}
.nav{
    display: flex;
}

.nav > li:hover:before{
    content: "";
    width: 0;
    height: 0;
    display: block;
    /* border-top: 15px solid rgb(83, 140, 187);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent; */
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
}
 /* header::before{
     font-family: "Font Awesome 5 Free";
     content: "\f007";
 } */

.img-logo{
    position: relative;
    margin: 5px;
    height: 5vw;
}

.flex-container{
    display: flex;
    font-size: 15px;
    justify-content: space-evenly;
}

.flex-container > li > span > i, .nav > li > span > i{
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
    padding-right: 8px;
    transition: all .1s;
}

.flex-container > li {
    position: relative;
    list-style: none;
    float: left;
    z-index: 3;
    text-transform: uppercase;
    cursor: pointer;
}

.flex-container > li > span > a{
    position: relative;
    z-index: 3;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s;
    color: #000;
}

.flex-container > li > span{
    display: inline-block;
    margin: 0 2vw;
    padding: .5vw;
    transition: .1s;
}
.flex-container > li:hover a, .flex-container > li:hover i {
    color:  #2b546e;
}
.nav li, .nav span{
    cursor: default;
    font-size: 15px;
    list-style: none;
    float: left;
}

.nav > li, .nav > span{
    position: relative;
    z-index: 2;
}

.nav > li > span, .nav > span{
    position: relative;
    margin: 0 2vw;
    padding: .5vw;
    float: left;
    z-index: 3;
    text-decoration: none;
    text-transform: uppercase;
  
}

.nav li a, .nav > span > a{
    display: block;
    text-decoration: none;
}

.nav > li > span, .nav > li > span > a, .nav > span > a{
    text-align: center;
    font-weight: bold;
    color: #000;
}
.nav li ul a:hover {
    background-color: #a5cee9;
}

.nav > li> ul > li{
    cursor: none;
    width: 100%;
    position: relative;
}


.nav > li > ul> li > a{
    cursor: pointer;
    padding: 20px;
    color: #363a3d;
    background-color:  #dae8f1;
    text-decoration: none;
    transition: all .3s;
}

.nav > li:hover, .flex-container > li:hover{
    background-color: #cceaff;
}

.flex-container > li:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 4px solid var(--azul);
}

.nav > li:hover::before{
    content: '';
    width: 100%;
    left: 0;
    top: 0;
    border-top: 4px solid var(--azul);
    transition: all .1s;
}

.nav li ul{
    width: 100%;
    z-index: 2;
    /* top: calc(100% + 15px); */
    top: 100%;
    left: 0;
    height: 0%;
    transform: scale(0);
    overflow: hidden;
    position: absolute;
    transition: all .3s;
}
.nav li:hover ul{
    transform: scale(1);
    height: 100%;
    overflow: visible;
}

.nav li ul a:hover{
    color: #fff;
    font-weight: bold;
    background-color: var(--azul); 
}
/* .nav .animation, .flex-container > li > .animation {
    width: 100%;
    top: 100%;
    height: 0%;
    position: absolute;
    z-index: 0;
    transition: all .2s ease 0s;
    border-radius: 3px;
    opacity: 100%;
    background: #a5cee9;
}

.nav li:hover > .animation, .flex-container > li:hover > .animation{
    top: 0;
    height: 100%;
} */
.nav li > span{
    transition: all .1s;
}
.nav li:hover > span{
    color:  #2b546e;
}

/*-------------------------------------------------------------------------------------------------------------------------*/

hr{
    position: relative;
    left: 2.5%;
    width: 95%;
    border: none;
    background-color: rgb(80, 127, 172);
    border-radius: 50px;
    height: 20px;
}
.main__div-informacion-principal{
    background: rgb(82, 135, 182);
    user-select: none;
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}

.wave{
    min-height: 28vw;
    position: relative;
    background: -webkit-linear-gradient(90deg, rgb(229, 235, 240), rgb(82, 135, 182));
    width: 100%;
    z-index: 1;
}

.wave::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vw;
    background: url("assets/main-pics/wave.png");
    background-size: cover;
}
.wrapper{
    text-align: center;
    position: relative;
    top: 8vw;
    font-size: 15px; 
}

.titleFixed{
    display: flex;
    position: relative;
    flex-basis: 100%;
    min-height: 400px;
    background: url("assets/main-pics/liceo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.titleFixed > h1{
    text-transform: uppercase;
    text-shadow: 10px 10px #34485542;
    font-size: 50px;
    margin: auto;
    color: #fff;
    font-weight: bold;
}
.main{
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}

.cards{
    width: 30%;
    min-width: 400px;
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 15px 0;
    top: 0;
    position: relative;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: fit-content;
    transition: all .2s;
}

.cards:hover{
    top: 10px;
    color: white;
    background: #465e6e;
}

.cards:hover > .arrow{
    background-color:  #fff;
    color: #000;
    transform: rotate(180deg);
}
.more{
    color: currentColor;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
    position: relative;
}

.cards > .fas{
    color: #fff;
    padding: 8px 0;
    font-size: 90px;
    width: 100%;
    transition: all .2s;
}

.cards:hover:nth-child(2) .fa-book{
    color: #cc0044;
}

.cards:hover:nth-child(3) .fa-users{
    color: #ffa;
}
.cards:hover:nth-child(4) .fa-user-clock{
    color: #0099aa;
}

.fa-chevron-up{
    font-size: 22px;
    padding: 4px;
}

.arrow{
    position: relative;
    display: block;
    outline: 1px solid #000;
    outline-style: none;
    border-radius: 50%;
    z-index: 50;
    left: calc(50% - 15px);
    transition: all .2s;
}

.LP__info{
    font-size: 15px;
    line-height: 30px;
    text-align: left;
}
.LP__info > p{
    padding: 30px;
}

aside{
    text-align: center;
    
    margin: 10vw 0;
}

aside h2{
    display: inline-block;
    position: relative;
    padding: 10px;
    color: #0a0a0a;
    margin-bottom: 12vh;
    border-bottom: 5px solid  rgb(132, 168, 199);
    font-size: 25px;
}

aside li{
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
   grid-gap: 25px;
   min-width: 300px;
}

aside li ul{
    min-width: 200px;
    margin: 10px;
    flex-basis: 31%;
}

.cardsInfo{
    width: 100%;
    text-align: left;
    transition: all .2s;
}

.imgCard{
    position: relative;
    width: 100%;
}

.imgCard > img{
   width: 100%;
}

.titleCard{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #00000069;
}
.titleCard > span{
    min-height: fit-content;
    font-weight: bold;
    font-size: 22px;
    color: rgb(255, 255, 255);

}

.cardsInfo > p, .cardsInfo > h4, .cardsInfo > span{
    padding: 10px;
}
.cardsInfo > h4{
    position: relative;
    left: 10px;
    display: inline-block;
    height: fit-content;
    font-size: 18px;
}
.cardsInfo > p{
    font-size: 15px;
}

.cardsInfo > p{
    padding: 10px 20px;
}
.date{
    font-weight: bold;
    color: #142633;
    padding: 30px 20px;
}

aside .fas, aside .far{
    padding-right: 10px;
    font-size: 22px;
    height: fit-content;
}

footer{
    background: #000;
}
.contact-section, #copy-section{
    text-align: center;
    flex-basis: 100%;
}

#contact{
    display: flex;
    padding: 20px;
    color: #fff;
    justify-content: center;
    flex-wrap: wrap;
}

#contact > span{
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
}

#contact-list{
    border-top: 1px solid #fff;
    padding: 8px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contact-list li{
    list-style: none;
}
#contact-list li a{
    color: #fff;
    font-size: 25px;
    padding: 20px;
    transition: color, font-size .1s ease-in;
}

#contact-list li:nth-child(1):hover > a{
    color: rgb(219, 93, 20);
}
#contact-list li:nth-child(2):hover > a{
    color: #af0;
}
#contact-list li:nth-child(3):hover > a{
    color: #0cf;
}
#contact-list li:nth-child(4):hover > a{
    color: #00f;
}
#contact-list li:nth-child(5):hover > a{
    color: #0fc;
}
#contact-list li:nth-child(6):hover > a{
    color: #00c0f9;
}
#contact-list li:nth-child(7):hover > a{
    color: #ee9e;
}
.mostrar{
    display: none;
}

.boxCards{
    border-bottom: 5px solid rgb(188, 213, 235);
    overflow: hidden;
    width: 100%;
    transition: all .2s;
}

@keyframes inicio{
    0%{
        opacity: 10%;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 600px){
    .cards{
        width: 100%;
    }   
}

@media screen and (max-width: 600px){
    body{
        position: relative;
        height: 100vh;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .header-img{
        width: 100%;
    }
    .img-logo{
       width: 100%;

    }
    header i{
        font-size: 6vw;
        padding: 20px;
        transition: all .2s;
    }
    .header__nav{
        width: 100%;
        min-width: 50px;
        max-width: 100%;
    }
    .flex-container{
        overflow-y: scroll;
        background-color: #c7dfee;
        position: absolute;
        display: flex;
        right: 100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .2s;
    }
    .flex-container li{
        justify-content: flex-start;
        flex-wrap: wrap;
        display: flex;
    }
    .flex-container li span{
        padding: 45px 35px;
        font-size: 8vw;
    }
    .nav{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

    }
    .nav li{
        flex-basis: 100%;
    }
    .nav li:hover > ul{
        color: #fff;
        width: 100%;
        position: relative;
        top: 0;
    }

    .nav li ul li{
        width: 100%;
        padding: 0;
        margin: 0;
        height: max-content;
    }
    .nav li ul li a{
        font-size: 25px;
        float: left;
        color: #fff;
        background-color: #466b86;
    }
    .nav li ul{
        height: 0%;
        transform: scale(1);
        overflow: hidden;

    }
    .nav li:hover ul{
        height: 100%;
        overflow: hidden;
    }
    .nav > li > ul> li > a{
        width: 100%;
    }
}

@keyframes circle{
    0%{
        background-color:#d2e5f1;
        opacity: 0;
        border-radius: 50%;
    }
    100%{
        border-radius: 50%;
        opacity: 1;
        background-color: #a5cee9;
    }
}
